/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../environments";
import * as core from "../../../../../../core";
import * as FernRegistry from "../../../../../index";
import urlJoin from "url-join";

export declare namespace Cli {
    export interface Options {
        environment?: core.Supplier<environments.FernRegistryEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token?: core.Supplier<core.BearerToken | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

/**
 * CRUD API for managing CLI versions, as well as the corresponding IR metadata.
 */
export class Cli {
    constructor(protected readonly _options: Cli.Options = {}) {}

    /**
     * Get the latest CLI version that has not been yanked.
     *
     * @param {FernRegistry.generators.GetLatestCliReleaseRequest} request
     * @param {Cli.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.cli.getLatestCliRelease({
     *         releaseTypes: undefined,
     *         irVersion: undefined
     *     })
     */
    public getLatestCliRelease(
        request: FernRegistry.generators.GetLatestCliReleaseRequest = {},
        requestOptions?: Cli.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FernRegistry.generators.CliRelease, FernRegistry.generators.cli.getLatestCliRelease.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getLatestCliRelease(request, requestOptions));
    }

    private async __getLatestCliRelease(
        request: FernRegistry.generators.GetLatestCliReleaseRequest = {},
        requestOptions?: Cli.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<FernRegistry.generators.CliRelease, FernRegistry.generators.cli.getLatestCliRelease.Error>
        >
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/generators/cli/latest",
            ),
            method: "POST",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.generators.CliRelease,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.generators.cli.getLatestCliRelease.Error)?.error) {
                case "NoValidClisFoundError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.generators.cli.getLatestCliRelease.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.cli.getLatestCliRelease.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Get the changelog for the specified CLI upgrade. The response will be a map of the generator version to it's corresponding changelog.
     *
     * @param {FernRegistry.generators.GetChangelogRequest} request
     * @param {Cli.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.cli.getChangelog({
     *         fromVersion: {
     *             type: "inclusive",
     *             value: "fromVersion"
     *         },
     *         toVersion: {
     *             type: "inclusive",
     *             value: "toVersion"
     *         }
     *     })
     */
    public getChangelog(
        request: FernRegistry.generators.GetChangelogRequest,
        requestOptions?: Cli.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FernRegistry.generators.GetChangelogResponse, FernRegistry.generators.cli.getChangelog.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getChangelog(request, requestOptions));
    }

    private async __getChangelog(
        request: FernRegistry.generators.GetChangelogRequest,
        requestOptions?: Cli.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FernRegistry.generators.GetChangelogResponse,
                FernRegistry.generators.cli.getChangelog.Error
            >
        >
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/generators/cli/changelog",
            ),
            method: "POST",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.generators.GetChangelogResponse,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.cli.getChangelog.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Get the minimum CLI version that supports the given IR version. This does not include RCs.
     *
     * @param {number} irVersion
     * @param {Cli.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.cli.getMinCliForIr(1)
     */
    public getMinCliForIr(
        irVersion: number,
        requestOptions?: Cli.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FernRegistry.generators.CliRelease, FernRegistry.generators.cli.getMinCliForIr.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getMinCliForIr(irVersion, requestOptions));
    }

    private async __getMinCliForIr(
        irVersion: number,
        requestOptions?: Cli.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<FernRegistry.generators.CliRelease, FernRegistry.generators.cli.getMinCliForIr.Error>
        >
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                `/generators/cli/for-ir/${encodeURIComponent(irVersion)}`,
            ),
            method: "GET",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.generators.CliRelease,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.generators.cli.getMinCliForIr.Error)?.error) {
                case "NoValidClisFoundError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.generators.cli.getMinCliForIr.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.cli.getMinCliForIr.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Update or create the specified CLI version.
     *
     * @param {FernRegistry.generators.CliReleaseRequest} request
     * @param {Cli.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.cli.upsertCliRelease({
     *         version: "version",
     *         createdAt: undefined,
     *         isYanked: undefined,
     *         changelogEntry: undefined,
     *         irVersion: 1,
     *         tags: undefined
     *     })
     */
    public upsertCliRelease(
        request: FernRegistry.generators.CliReleaseRequest,
        requestOptions?: Cli.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, FernRegistry.generators.cli.upsertCliRelease.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__upsertCliRelease(request, requestOptions));
    }

    private async __upsertCliRelease(
        request: FernRegistry.generators.CliReleaseRequest,
        requestOptions?: Cli.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<void, FernRegistry.generators.cli.upsertCliRelease.Error>>> {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/generators/cli",
            ),
            method: "PUT",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.cli.upsertCliRelease.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Get the specified CLI version.
     *
     * @param {string} cliVersion
     * @param {Cli.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.cli.getCliRelease("cliVersion")
     */
    public getCliRelease(
        cliVersion: string,
        requestOptions?: Cli.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FernRegistry.generators.CliRelease, FernRegistry.generators.cli.getCliRelease.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getCliRelease(cliVersion, requestOptions));
    }

    private async __getCliRelease(
        cliVersion: string,
        requestOptions?: Cli.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<FernRegistry.generators.CliRelease, FernRegistry.generators.cli.getCliRelease.Error>
        >
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                `/generators/cli/${encodeURIComponent(cliVersion)}`,
            ),
            method: "GET",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.generators.CliRelease,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.generators.cli.getCliRelease.Error)?.error) {
                case "CliVersionNotFoundError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.generators.cli.getCliRelease.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.cli.getCliRelease.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Get all CLI versions.
     *
     * @param {FernRegistry.generators.ListCliReleasesRequest} request
     * @param {Cli.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.cli.listCliReleases()
     */
    public listCliReleases(
        request: FernRegistry.generators.ListCliReleasesRequest = {},
        requestOptions?: Cli.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            FernRegistry.generators.ListCliReleasesResponse,
            FernRegistry.generators.cli.listCliReleases.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__listCliReleases(request, requestOptions));
    }

    private async __listCliReleases(
        request: FernRegistry.generators.ListCliReleasesRequest = {},
        requestOptions?: Cli.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FernRegistry.generators.ListCliReleasesResponse,
                FernRegistry.generators.cli.listCliReleases.Error
            >
        >
    > {
        const { page, pageSize } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (page != null) {
            _queryParams["page"] = page.toString();
        }

        if (pageSize != null) {
            _queryParams["pageSize"] = pageSize.toString();
        }

        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/generators/cli",
            ),
            method: "GET",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            queryParameters: _queryParams,
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.generators.ListCliReleasesResponse,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.cli.listCliReleases.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
