openapi: 3.1.0
info:
  title: OpenAI API
  description: OpenAI API for generating responses
  version: 1.0.0
servers:
  - url: https://api.openai.com/v1

paths:
  /responses:
    post:
      summary: Create a response
      description: Generate a response using a specified model
      operationId: createResponse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResponseRequest'
            examples:
              bedtimeStory:
                summary: Bedtime story about a unicorn
                value:
                  model: "gpt-4.1"
                  input: "Tell me a three sentence bedtime story about a unicorn."
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIResponse'
              examples:
                successResponse:
                  summary: Successful response example
                  value:
                    id: "resp_67ccd2bed1ec8190b14f964abc0542670bb6a6b452d3795b"
                    object: "response"
                    created_at: 1741476542
                    status: "completed"
                    error: null
                    incomplete_details: null
                    instructions: null
                    max_output_tokens: null
                    model: "gpt-4.1-2025-04-14"
                    output:
                      - type: "message"
                        id: "msg_67ccd2bf17f0819081ff3bb2cf6508e60bb6a6b452d3795b"
                        status: "completed"
                        role: "assistant"
                        content:
                          - type: "output_text"
                            text: "In a peaceful grove beneath a silver moon, a unicorn named Lumina discovered a hidden pool that reflected the stars. As she dipped her horn into the water, the pool began to shimmer, revealing a pathway to a magical realm of endless night skies. Filled with wonder, Lumina whispered a wish for all who dream to find their own hidden magic, and as she glanced back, her hoofprints sparkled like stardust."
                            annotations: []
                    parallel_tool_calls: true
                    previous_response_id: null
                    reasoning:
                      effort: null
                      summary: null
                    store: true
                    temperature: 1.0
                    text:
                      format:
                        type: "text"
                    tool_choice: "auto"
                    tools: []
                    top_p: 1.0
                    truncation: "disabled"
                    usage:
                      input_tokens: 36
                      input_tokens_details:
                        cached_tokens: 0
                      output_tokens: 87
                      output_tokens_details:
                        reasoning_tokens: 0
                      total_tokens: 123
                    user: null
                    metadata: {}
        '401':
          description: Unauthorized - Invalid API key
        '400':
          description: Bad Request - Invalid request parameters
      security:
        - BearerAuth: []

components:
  schemas:
    CreateResponseRequest:
      type: object
      required:
        - model
        - input
      properties:
        model:
          type: string
          description: ID of the model to use
          example: "gpt-4.1"
        input:
          type: string
          description: The input prompt for generating the response
          example: "Tell me a three sentence bedtime story about a unicorn."

    OpenAIResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        created_at:
          type: integer
        status:
          type: string
        error:
          type: object
          nullable: true
        incomplete_details:
          type: object
          nullable: true
        instructions:
          type: object
          nullable: true
        max_output_tokens:
          type: object
          nullable: true
        model:
          type: string
        output:
          type: array
          items:
            $ref: '#/components/schemas/ResponseOutput'
        parallel_tool_calls:
          type: boolean
        previous_response_id:
          type: string
          nullable: true
        reasoning:
          $ref: '#/components/schemas/ReasoningDetails'
        store:
          type: boolean
        temperature:
          type: number
        text:
          $ref: '#/components/schemas/TextFormat'
        tool_choice:
          type: string
        tools:
          type: array
          items:
            type: object
        top_p:
          type: number
        truncation:
          type: string
        usage:
          $ref: '#/components/schemas/TokenUsage'
        user:
          type: string
          nullable: true
        metadata:
          type: object

    ResponseOutput:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
        status:
          type: string
        role:
          type: string
        content:
          type: array
          items:
            $ref: '#/components/schemas/ContentItem'

    ContentItem:
      type: object
      properties:
        type:
          type: string
        text:
          type: string
        annotations:
          type: array
          items:
            type: object

    ReasoningDetails:
      type: object
      properties:
        effort:
          type: object
          nullable: true
        summary:
          type: object
          nullable: true

    TextFormat:
      type: object
      properties:
        format:
          type: object
          properties:
            type:
              type: string

    TokenUsage:
      type: object
      properties:
        input_tokens:
          type: integer
        input_tokens_details:
          type: object
          properties:
            cached_tokens:
              type: integer
        output_tokens:
          type: integer
        output_tokens_details:
          type: object
          properties:
            reasoning_tokens:
              type: integer
        total_tokens:
          type: integer

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API Key authentication