# OpenAPI 规范版本
openapi: 3.1.0

# API 的元数据信息
info:
  title: OpenAI API (Mintlify-Compatible)
  version: '1.0.0'
  description: |
    这是根据提供的 openai.yaml 文件片段生成的完整 OpenAPI 3.1.0 规范。
    它专门为 Mintlify 文档进行了优化，使用了 `x-codeSamples` 扩展来展示代码示例。

# API 服务器信息
servers:
  - url: https://api.llmhub.com.cn/v1
    description: 主 API 服务器

# 全局安全要求，适用于所有 API 端点
security:
  - bearerAuth: []

# API 端点（路径）定义
paths:
  /audio/speech:
    post:
      operationId: createSpeech
      tags:
        - Audio
      summary: 创建语音
      description: 根据输入的文本生成音频。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpeechRequest'
      responses:
        '200':
          description: OK
          headers:
            Transfer-Encoding:
              schema:
                type: string
              description: chunked
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CreateSpeechResponseStreamEvent'
      # Mintlify x-codeSamples 扩展
      # 将 x-oaiMeta.examples 转换成了 Mintlify 兼容的格式
      x-codeSamples:
        - lang: cURL
          label: '默认请求'
          source: |
            curl https://api.llmhub.com.cn/v1/audio/speech \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "model": "gpt-4o-mini-tts",
                "input": "The quick brown fox jumped over the lazy dog.",
                "voice": "alloy"
              }' \
              --output speech.mp3
        - lang: cURL
          label: 'SSE 流格式'
          source: |
            curl https://api.llmhub.com.cn/v1/audio/speech \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "model": "gpt-4o-mini-tts",
                "input": "The quick brown fox jumped over the lazy dog.",
                "voice": "alloy",
                "stream_format": "sse"
              }'
  
  /audio/transcriptions:
    post:
      operationId: createTranscription
      tags:
        - Audio
      summary: 创建转录
      description: 将音频转录为输入语言的文本。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTranscriptionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/CreateTranscriptionResponseJson'
                  - $ref: '#/components/schemas/CreateTranscriptionResponseVerboseJson'
              # OpenAPI 标准的响应示例
              # Mintlify 会自动根据 label 在不同示例间切换
              examples:
                Default:
                  summary: '默认响应'
                  value:
                    text: "Imagine the wildest idea that you've ever had, and you're curious about how it might scale to something that's a 100, a 1,000 times bigger. This is a place where you can get to do that."
                    usage:
                      type: "tokens"
                      input_tokens: 14
                      input_token_details:
                        text_tokens: 0
                        audio_tokens: 14
                      output_tokens: 45
                      total_tokens: 59
                Logprobs:
                  summary: '带 Logprobs 的响应'
                  value:
                    text: "Hey, my knee is hurting and I want to see the doctor tomorrow ideally."
                    logprobs:
                      - token: "Hey"
                        logprob: -1.0415299
                        bytes: [72, 101, 121]
                      - token: ","
                        logprob: -0.00009805982
                        bytes: [44]
                      - token: " my"
                        logprob: -0.00229799
                        bytes: [32, 109, 121]
                      # ... 更多 logprobs 内容
                    usage:
                      type: "tokens"
                      input_tokens: 14
                      input_token_details:
                        text_tokens: 0
                        audio_tokens: 14
                      output_tokens: 45
                      total_tokens: 59
                "Word timestamps":
                  summary: '带词语时间戳的响应'
                  value:
                    task: "transcribe"
                    language: "english"
                    duration: 8.47
                    text: "The beach was a popular spot on a hot summer day. People were swimming in the ocean, building sandcastles, and playing beach volleyball."
                    words:
                      - word: "The"
                        start: 0.0
                        end: 0.24
                      # ... 更多 words 内容
                    usage:
                      type: "duration"
                      seconds: 9
                "Segment timestamps":
                  summary: '带分段时间戳的响应'
                  value:
                    task: "transcribe"
                    language: "english"
                    duration: 8.47
                    text: "The beach was a popular spot on a hot summer day. People were swimming in the ocean, building sandcastles, and playing beach volleyball."
                    segments:
                      - id: 0
                        seek: 0
                        start: 0.0
                        end: 3.32
                        text: " The beach was a popular spot on a hot summer day."
                        tokens: [50364, 440, 7534, 390, 257, 3743, 4008, 322, 257, 2368, 4266, 786, 13, 50530]
                        temperature: 0.0
                        avg_logprob: -0.2860786020755768
                        compression_ratio: 1.2363636493682861
                        no_speech_prob: 0.00985979475080967
                      # ... 更多 segments 内容
                    usage:
                      type: "duration"
                      seconds: 9
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CreateTranscriptionResponseStreamEvent'
              examples:
                Streaming:
                  summary: '流式响应'
                  value: |
                    data: {"type":"transcript.text.delta","delta":"I","logprobs":[{"token":"I","logprob":-0.00007588794,"bytes":[73]}]}

                    data: {"type":"transcript.text.delta","delta":" see","logprobs":[{"token":" see","logprob":-3.1281633e-7,"bytes":[32,115,101,101]}]}

                    data: {"type":"transcript.text.delta","delta":" skies","logprobs":[{"token":" skies","logprob":-2.3392786e-6,"bytes":[32,115,107,105,101,115]}]}

                    data: {"type":"transcript.text.done","text":"I see skies of blue and clouds of white...","logprobs":[...],"usage":{...}}
      x-codeSamples:
        - lang: cURL
          label: '默认请求'
          source: |
            curl https://api.llmhub.com.cn/v1/audio/transcriptions \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -H "Content-Type: multipart/form-data" \
              -F file="@/path/to/file/audio.mp3" \
              -F model="gpt-4o-transcribe"
        - lang: cURL
          label: '流式请求'
          source: |
            curl https://api.llmhub.com.cn/v1/audio/transcriptions \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -H "Content-Type: multipart/form-data" \
              -F file="@/path/to/file/audio.mp3" \
              -F model="gpt-4o-mini-transcribe" \
              -F stream=true
        - lang: cURL
          label: '带 Logprobs 的请求'
          source: |
            curl https://api.llmhub.com.cn/v1/audio/transcriptions \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -H "Content-Type: multipart/form-data" \
              -F file="@/path/to/file/audio.mp3" \
              -F "include[]=logprobs" \
              -F model="gpt-4o-transcribe" \
              -F response_format="json"
        - lang: cURL
          label: '带词语时间戳的请求'
          source: |
            curl https://api.llmhub.com.cn/v1/audio/transcriptions \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -H "Content-Type: multipart/form-data" \
              -F file="@/path/to/file/audio.mp3" \
              -F "timestamp_granularities[]=word" \
              -F model="whisper-1" \
              -F response_format="verbose_json"
        - lang: cURL
          label: '带分段时间戳的请求'
          source: |
            curl https://api.llmhub.com.cn/v1/audio/transcriptions \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -H "Content-Type: multipart/form-data" \
              -F file="@/path/to/file/audio.mp3" \
              -F "timestamp_granularities[]=segment" \
              -F model="whisper-1" \
              -F response_format="verbose_json"

  /audio/translations:
    post:
      operationId: createTranslation
      tags:
        - Audio
      summary: 创建翻译
      description: 将音频翻译成英语。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTranslationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/CreateTranslationResponseJson'
                  - $ref: '#/components/schemas/CreateTranslationResponseVerboseJson'
              examples:
                default:
                  summary: '默认响应'
                  value:
                    text: "Hello, my name is Wolfgang and I come from Germany. Where are you heading today?"
      x-codeSamples:
        - lang: cURL
          label: '默认请求'
          source: |
            curl https://api.llmhub.com.cn/v1/audio/translations \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -H "Content-Type: multipart/form-data" \
              -F file="@/path/to/file/german.m4a" \
              -F model="whisper-1"

  /images/edits:
    post:
      operationId: createImageEdit
      tags:
        - Images
      summary: 创建图像编辑
      description: |
        根据一个或多个源图像和提示创建编辑或扩展后的图像。此端点仅支持 `gpt-image-1` 和 `dall-e-2`。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateImageEditRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ImageEditStreamEvent'
              examples:
                Streaming:
                  summary: '流式响应'
                  value: |
                    event: image_edit.partial_image
                    data: {"type":"image_edit.partial_image","b64_json":"...","partial_image_index":0}

                    event: image_edit.completed
                    data: {"type":"image_edit.completed","b64_json":"...","usage":{"total_tokens":100,"input_tokens":50,"output_tokens":50,"input_tokens_details":{"text_tokens":10,"image_tokens":40}}}
      x-codeSamples:
        - lang: cURL
          label: '编辑图像'
          source: |
            curl -s -D >(grep -i x-request-id >&2) \
              -o >(jq -r '.data[0].b64_json' | base64 --decode > gift-basket.png) \
              -X POST "https://api.llmhub.com.cn/v1/images/edits" \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -F "model=gpt-image-1" \
              -F "image[]=@body-lotion.png" \
              -F "image[]=@bath-bomb.png" \
              -F "image[]=@incense-kit.png" \
              -F "image[]=@soap.png" \
              -F 'prompt=Create a lovely gift basket with these four items in it'
        - lang: cURL
          label: '流式请求'
          source: |
            curl -s -N -X POST "https://api.llmhub.com.cn/v1/images/edits" \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -F "model=gpt-image-1" \
              -F "image[]=@body-lotion.png" \
              -F "image[]=@bath-bomb.png" \
              -F "image[]=@incense-kit.png" \
              -F "image[]=@soap.png" \
              -F 'prompt=Create a lovely gift basket with these four items in it' \
              -F "stream=true"

  /images/generations:
    post:
      operationId: createImage
      tags:
        - Images
      summary: 创建图像
      description: |
        根据提示创建图像。 [了解更多](https://platform.openai.com/docs/guides/images)。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesResponse'
              examples:
                "Generate image":
                  summary: '生成图像响应'
                  value:
                    created: 1713833628
                    data:
                      - b64_json: "..."
                    usage:
                      total_tokens: 100
                      input_tokens: 50
                      output_tokens: 50
                      input_tokens_details:
                        text_tokens: 10
                        image_tokens: 40
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ImageGenStreamEvent'
              examples:
                Streaming:
                  summary: '流式响应'
                  value: |
                    event: image_generation.partial_image
                    data: {"type":"image_generation.partial_image","b64_json":"...","partial_image_index":0}
                    
                    event: image_generation.completed
                    data: {"type":"image_generation.completed","b64_json":"...","usage":{"total_tokens":100,"input_tokens":50,"output_tokens":50,"input_tokens_details":{"text_tokens":10,"image_tokens":40}}}
      x-codeSamples:
        - lang: cURL
          label: '生成图像'
          source: |
            curl https://api.llmhub.com.cn/v1/images/generations \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -d '{
                "model": "gpt-image-1",
                "prompt": "A cute baby sea otter",
                "n": 1,
                "size": "1024x1024"
              }'
        - lang: cURL
          label: '流式请求'
          source: |
            curl https://api.llmhub.com.cn/v1/images/generations \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -d '{
                "model": "gpt-image-1",
                "prompt": "A cute baby sea otter",
                "n": 1,
                "size": "1024x1024",
                "stream": true
              }' \
              --no-buffer

  /images/variations:
    post:
      operationId: createImageVariation
      tags:
        - Images
      summary: 创建图像变体
      description: 创建给定图像的变体。此端点仅支持 `dall-e-2`。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateImageVariationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesResponse'
              examples:
                default:
                  summary: '默认响应'
                  value:
                    created: 1589478378
                    data:
                      - url: "https://..."
                      - url: "https://..."
      x-codeSamples:
        - lang: cURL
          label: '默认请求'
          source: |
            curl https://api.llmhub.com.cn/v1/images/variations \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -F image="@otter.png" \
              -F n=2 \
              -F size="1024x1024"

  /responses:
    post:
      operationId: createResponse
      tags:
        - Responses
      summary: 创建模型响应
      description: |
        创建模型响应。提供 [文本](https://platform.openai.com/docs/guides/text) 或
        [图像](https://platform.openai.com/docs/guides/images) 输入以生成
        [文本](https://platform.openai.com/docs/guides/text) 或
        [JSON](https://platform.openai.com/docs/guides/structured-outputs) 输出。让模型调用
        您自己的 [自定义代码](https://platform.openai.com/docs/guides/function-calling) 或使用内置
        [工具](https://platform.openai.com/docs/guides/tools) 如 [网页搜索](https://platform.openai.com/docs/guides/tools-web-search)
        或 [文件搜索](https://platform.openai.com/docs/guides/tools-file-search) 来使用您自己的数据
        作为模型响应的输入。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResponse'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                "Text input":
                  summary: '文本输入响应'
                  value:
                    id: "resp_67ccd2bed1ec8190b14f964abc0542670bb6a6b452d3795b"
                    object: "response"
                    # ... 省略了冗长的响应内容
                image-input:
                  summary: '图像输入响应'
                  value:
                    id: "resp_67ccd3a9da748190baa7f1570fe91ac604becb25c45c1d41"
                    object: "response"
                    # ... 省略了冗长的响应内容
                "File input":
                  summary: '文件输入响应'
                  value:
                    id: "resp_686eef60237881a2bd1180bb8b13de430e34c516d176ff86"
                    object: "response"
                    # ... 省略了冗长的响应内容
                "Web search":
                  summary: '网页搜索响应'
                  value:
                    id: "resp_67ccf18ef5fc8190b16dbee19bc54e5f087bb177ab789d5c"
                    object: "response"
                    # ... 省略了冗长的响应内容
                "File search":
                  summary: '文件搜索响应'
                  value:
                    id: "resp_67ccf4c55fc48190b71bd0463ad3306d09504fb6872380d7"
                    object: "response"
                    # ... 省略了冗长的响应内容
                functions:
                  summary: '函数调用响应'
                  value:
                    id: "resp_67ca09c5efe0819096d0511c92b8c890096610f474011cc0"
                    object: "response"
                    # ... 省略了冗长的响应内容
                "Reasoning":
                  summary: '带推理的响应'
                  value:
                    id: "resp_67ccd7eca01881908ff0b5146584e408072912b2993db808"
                    object: "response"
                    # ... 省略了冗长的响应内容
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ResponseStreamEvent'
              examples:
                Streaming:
                  summary: '流式响应'
                  value: |
                    event: response.created
                    data: {"type":"response.created","response":{...}}

                    event: response.in_progress
                    data: {"type":"response.in_progress","response":{...}}

                    event: response.output_item.added
                    data: {"type":"response.output_item.added","output_index":0,"item":{...}}

                    ...

                    event: response.completed
                    data: {"type":"response.completed","response":{...}}
      x-codeSamples:
        - lang: cURL
          label: '文本输入'
          source: |
            curl https://api.llmhub.com.cn/v1/responses \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -d '{
                "model": "gpt-4.1",
                "input": "Tell me a three sentence bedtime story about a unicorn."
              }'
        - name: image-input
          lang: cURL
          label: '图像输入'
          source: |
            curl https://api.llmhub.com.cn/v1/responses \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -d '{
                "model": "gpt-4.1",
                "input": [
                  {
                    "role": "user",
                    "content": [
                      {"type": "input_text", "text": "what is in this image?"},
                      {
                        "type": "input_image",
                        "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg"
                      }
                    ]
                  }
                ]
              }'
        - lang: cURL
          label: '文件输入'
          source: |
            curl https://api.llmhub.com.cn/v1/responses \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -d '{
                "model": "gpt-4.1",
                "input": [
                  {
                    "role": "user",
                    "content": [
                      {"type": "input_text", "text": "what is in this file?"},
                      {
                        "type": "input_file",
                        "file_url": "https://www.berkshirehathaway.com/letters/2024ltr.pdf"
                      }
                    ]
                  }
                ]
              }'
        - lang: cURL
          label: '网页搜索'
          source: |
            curl https://api.llmhub.com.cn/v1/responses \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -d '{
                "model": "gpt-4.1",
                "tools": [{ "type": "web_search_preview" }],
                "input": "What was a positive news story from today?"
              }'
        - lang: cURL
          label: '文件搜索'
          source: |
            curl https://api.llmhub.com.cn/v1/responses \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -d '{
                "model": "gpt-4.1",
                "tools": [{
                  "type": "file_search",
                  "vector_store_ids": ["vs_1234567890"],
                  "max_num_results": 20
                }],
                "input": "What are the attributes of an ancient brown dragon?"
              }'
        - lang: cURL
          label: '流式请求'
          source: |
            curl https://api.llmhub.com.cn/v1/responses \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -d '{
                "model": "gpt-4.1",
                "instructions": "You are a helpful assistant.",
                "input": "Hello!",
                "stream": true
              }'
        - name: functions
          lang: cURL
          label: '函数调用'
          source: |
            curl https://api.llmhub.com.cn/v1/responses \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -d '{
                "model": "gpt-4.1",
                "input": "What is the weather like in Boston today?",
                "tools": [
                  {
                    "type": "function",
                    "name": "get_current_weather",
                    "description": "Get the current weather in a given location",
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string",
                          "description": "The city and state, e.g. San Francisco, CA"
                        },
                        "unit": {
                          "type": "string",
                          "enum": ["celsius", "fahrenheit"]
                        }
                      },
                      "required": ["location", "unit"]
                    }
                  }
                ],
                "tool_choice": "auto"
              }'
        - lang: cURL
          label: '带推理的请求'
          source: |
            curl https://api.llmhub.com.cn/v1/responses \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $LLMHub_API_KEY" \
              -d '{
                "model": "o3-mini",
                "input": "How much wood would a woodchuck chuck?",
                "reasoning": {
                  "effort": "high"
                }
              }'

# 可重用的组件定义
components:
  # 安全方案定义
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: '在请求头中输入 Bearer {token}。'
  
  # Schema 定义 (占位符)
  # 为了确保文件有效，为所有引用的 schema 提供了基础定义。
  schemas:
    CreateSpeechRequest:
      type: object
      properties: {}
    CreateSpeechResponseStreamEvent:
      type: object
      properties: {}
    CreateTranscriptionRequest:
      type: object
      properties: {}
    CreateTranscriptionResponseJson:
      type: object
      properties: {}
    CreateTranscriptionResponseVerboseJson:
      type: object
      properties: {}
    CreateTranscriptionResponseStreamEvent:
      type: object
      properties: {}
    CreateTranslationRequest:
      type: object
      properties: {}
    CreateTranslationResponseJson:
      type: object
      properties: {}
    CreateTranslationResponseVerboseJson:
      type: object
      properties: {}
    CreateImageEditRequest:
      type: object
      properties: {}
    ImagesResponse:
      type: object
      properties: {}
    ImageEditStreamEvent:
      type: object
      properties: {}
    CreateImageRequest:
      type: object
      properties: {}
    ImageGenStreamEvent:
      type: object
      properties: {}
    CreateImageVariationRequest:
      type: object
      properties: {}
    CreateResponse:
      type: object
      properties: {}
    Response:
      type: object
      properties: {}
    ResponseStreamEvent:
      type: object
      properties: {}

