openapi: 3.1.0
info:
  title: OpenAI API
  description: OpenAI API for generating responses
  version: 1.0.0
servers:
  - url: https://api.openai.com/v1

paths:
  /responses:
    post:
      summary: Create a response
      description: Generate a response using a specified model
      operationId: createResponse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResponseRequest'
            examples:
              example_request:
                summary: Example request
                value:
                  model: "gpt-4.1"
                  input: "Tell me a three sentence bedtime story about a unicorn."
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIResponse'
      security:
        - BearerAuth: []

components:
  schemas:
    CreateResponseRequest:
      type: object
      required:
        - model
        - input
      properties:
        model:
          type: string
          description: ID of the model to use
          example: "gpt-4.1"
        input:
          type: string
          description: The input prompt for generating the response
          example: "Tell me a three sentence bedtime story about a unicorn."

    OpenAIResponse:
      type: object
      properties:
        id:
          type: string
          example: "resp_67ccd2bed1ec8190b14f964abc0542670bb6a6b452d3795b"
        object:
          type: string
          example: "response"
        created_at:
          type: integer
          example: 1741476542
        status:
          type: string
          example: "completed"
        error:
          type: object
          nullable: true
        incomplete_details:
          type: object
          nullable: true
        instructions:
          type: object
          nullable: true
        max_output_tokens:
          type: object
          nullable: true
        model:
          type: string
          example: "gpt-4.1-2025-04-14"
        output:
          type: array
          items:
            $ref: '#/components/schemas/ResponseOutput'
        parallel_tool_calls:
          type: boolean
          example: true
        previous_response_id:
          type: string
          nullable: true
        reasoning:
          $ref: '#/components/schemas/ReasoningDetails'
        store:
          type: boolean
          example: true
        temperature:
          type: number
          example: 1.0
        text:
          $ref: '#/components/schemas/TextFormat'
        tool_choice:
          type: string
          example: "auto"
        tools:
          type: array
          items:
            type: object
        top_p:
          type: number
          example: 1.0
        truncation:
          type: string
          example: "disabled"
        usage:
          $ref: '#/components/schemas/TokenUsage'
        user:
          type: string
          nullable: true
        metadata:
          type: object

    ResponseOutput:
      type: object
      properties:
        type:
          type: string
          example: "message"
        id:
          type: string
          example: "msg_67ccd2bf17f0819081ff3bb2cf6508e60bb6a6b452d3795b"
        status:
          type: string
          example: "completed"
        role:
          type: string
          example: "assistant"
        content:
          type: array
          items:
            $ref: '#/components/schemas/ContentItem'

    ContentItem:
      type: object
      properties:
        type:
          type: string
          example: "output_text"
        text:
          type: string
          example: "In a peaceful grove beneath a silver moon, a unicorn named Lumina discovered a hidden pool that reflected the stars. As she dipped her horn into the water, the pool began to shimmer, revealing a pathway to a magical realm of endless night skies. Filled with wonder, Lumina whispered a wish for all who dream to find their own hidden magic, and as she glanced back, her hoofprints sparkled like stardust."
        annotations:
          type: array
          items:
            type: object

    ReasoningDetails:
      type: object
      properties:
        effort:
          type: object
          nullable: true
        summary:
          type: object
          nullable: true

    TextFormat:
      type: object
      properties:
        format:
          type: object
          properties:
            type:
              type: string
              example: "text"

    TokenUsage:
      type: object
      properties:
        input_tokens:
          type: integer
          example: 36
        input_tokens_details:
          type: object
          properties:
            cached_tokens:
              type: integer
              example: 0
        output_tokens:
          type: integer
          example: 87
        output_tokens_details:
          type: object
          properties:
            reasoning_tokens:
              type: integer
              example: 0
        total_tokens:
          type: integer
          example: 123

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API Key authentication