@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: var(--gray-1200);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #008700;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--gray-500);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* design system */
  --gray-100: #fcfcfd;
  --gray-200: #f9f9fb;
  --gray-300: #eff0f3;
  --gray-400: #e7e8ec;
  --gray-500: #e0e1e6;
  --gray-600: #d8d9e0;
  --gray-700: #cdced7;
  --gray-800: #b9bbc6;
  --gray-900: #8b8d98;
  --gray-1000: #80828d;
  --gray-1100: #62636c;
  --gray-1200: #1e1f24;
  --blue-100: #fdfdfe;
  --blue-200: #f7f9ff;
  --blue-300: #edf2fe;
  --blue-400: #e0eaff;
  --blue-500: #d0dfff;
  --blue-600: #bdd2ff;
  --blue-700: #a7bff7;
  --blue-800: #88a6ed;
  --blue-900: #84a1e8;
  --blue-1000: #7996dc;
  --blue-1100: #4963a4;
  --blue-1200: #1e2e5a;
  --green-100: #fafef9;
  --green-200: #f3fcf1;
  --green-300: #dbfdd3;
  --green-400: #c3fbb7;
  --green-500: #acf49c;
  --green-600: #93e97f;
  --green-700: #73d95b;
  --green-800: #51c233;
  --green-900: #70e155;
  --green-1000: #65d649;
  --green-1100: #008700;
  --green-1200: #17450a;
  --purple-100: #fefcff;
  --purple-200: #fcf8fd;
  --purple-300: #f8ecfb;
  --purple-400: #f3e0f8;
  --purple-500: #ecd4f3;
  --purple-600: #e4c5ec;
  --purple-700: #d7b1e1;
  --purple-800: #c896d5;
  --purple-900: #9861a6;
  --purple-1000: #8a5498;
  --purple-1100: #865094;
  --purple-1200: #4e2059;
  --yellow-100: #fdfdfb;
  --yellow-200: #fcfaef;
  --yellow-300: #faf5d0;
  --yellow-400: #f5edb3;
  --yellow-500: #eee398;
  --yellow-600: #e0d58a;
  --yellow-700: #cec377;
  --yellow-800: #baad53;
  --yellow-900: #e5d87e;
  --yellow-1000: #dbce74;
  --yellow-1100: #80741f;
  --yellow-1200: #403c23;
}

.dark {
  --background: var(--gray-100);
  --foreground: var(--gray-1200);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #70e155;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--gray-300);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* design system */
  --gray-100: #111113;
  --gray-200: #19191b;
  --gray-300: #222325;
  --gray-400: #292a2e;
  --gray-500: #303136;
  --gray-600: #393a40;
  --gray-700: #46484f;
  --gray-800: #5f606a;
  --gray-900: #6c6e79;
  --gray-1000: #797b86;
  --gray-1100: #b2b3bd;
  --gray-1200: #eeeef0;
  --blue-100: #0d111b;
  --blue-200: #121824;
  --blue-300: #192544;
  --blue-400: #1f2f5c;
  --blue-500: #283a6e;
  --blue-600: #32467e;
  --blue-700: #3d5492;
  --blue-800: #4863ac;
  --blue-900: #84a1e8;
  --blue-1000: #7996dc;
  --blue-1100: #96b4fc;
  --blue-1200: #d5e1fc;
  --green-100: #0e120e;
  --green-200: #141a13;
  --green-300: #1e291c;
  --green-400: #273723;
  --green-500: #30452b;
  --green-600: #3a5334;
  --green-700: #45633e;
  --green-800: #517648;
  --green-900: #abf39b;
  --green-1000: #a1e991;
  --green-1100: #9cdd8d;
  --green-1200: #d2f5ca;
  --purple-100: #160d18;
  --purple-200: #211125;
  --purple-300: #371340;
  --purple-400: #481354;
  --purple-500: #521e5f;
  --purple-600: #5f2b6c;
  --purple-700: #733e80;
  --purple-800: #8e579b;
  --purple-900: #deb7e8;
  --purple-1000: #d3addd;
  --purple-1100: #daa0e9;
  --purple-1200: #f8d0ff;
  --yellow-100: #12110b;
  --yellow-200: #19180f;
  --yellow-300: #292406;
  --yellow-400: #342c00;
  --yellow-500: #3f3700;
  --yellow-600: #4d4404;
  --yellow-700: #5f5719;
  --yellow-800: #796e23;
  --yellow-900: #f6eeb4;
  --yellow-1000: #ece4ab;
  --yellow-1100: #ebe196;
  --yellow-1200: #f6eeb4;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* design system */
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-1000: var(--gray-1000);
  --color-gray-1100: var(--gray-1100);
  --color-gray-1200: var(--gray-1200);
  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);
  --color-blue-700: var(--blue-700);
  --color-blue-800: var(--blue-800);
  --color-blue-900: var(--blue-900);
  --color-blue-1000: var(--blue-1000);
  --color-blue-1100: var(--blue-1100);
  --color-blue-1200: var(--blue-1200);
  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-600: var(--green-600);
  --color-green-700: var(--green-700);
  --color-green-800: var(--green-800);
  --color-green-900: var(--green-900);
  --color-green-1000: var(--green-1000);
  --color-green-1100: var(--green-1100);
  --color-green-1200: var(--green-1200);
  --color-purple-100: var(--purple-100);
  --color-purple-200: var(--purple-200);
  --color-purple-300: var(--purple-300);
  --color-purple-400: var(--purple-400);
  --color-purple-500: var(--purple-500);
  --color-purple-600: var(--purple-600);
  --color-purple-700: var(--purple-700);
  --color-purple-800: var(--purple-800);
  --color-purple-900: var(--purple-900);
  --color-purple-1000: var(--purple-1000);
  --color-purple-1100: var(--purple-1100);
  --color-purple-1200: var(--purple-1200);
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-300: var(--yellow-300);
  --color-yellow-400: var(--yellow-400);
  --color-yellow-500: var(--yellow-500);
  --color-yellow-600: var(--yellow-600);
  --color-yellow-700: var(--yellow-700);
  --color-yellow-800: var(--yellow-800);
  --color-yellow-900: var(--yellow-900);
  --color-yellow-1000: var(--yellow-1000);
  --color-yellow-1100: var(--yellow-1100);
  --color-yellow-1200: var(--yellow-1200);

  /* fern brand */
  --color-fern: #51c233;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
